.form-element label {
    padding: 5px 0;
    color: #a2a2a5;
}

/******************************************** 
*               Input Text
********************************************/
.form-element.input-text input[type=text] {
    border: 1px solid #4a4a54;
    background: #37373f;
    border-radius: 8px;
    padding: 8px 10px;
    color: #FFFFFF;
}

/******************************************** 
*                Text Area
********************************************/
.form-element.textarea textarea {
    border: 1px solid #4a4a54;
    background: #37373f;
    border-radius: 8px;
    padding: 8px 10px;
    color: #FFFFFF;
    height: 100px;
    min-height: 100px;
    resize: vertical;
}

/******************************************** 
*               Checkbox
********************************************/
.form-element input[type=checkbox] {
    align-self: self-start;
}

/******************************************** 
*               DropdownList
********************************************/
.form-element select {
    padding: 8px 10px;
    color: #FFFFFF;
    border: 1px solid #4a4a54;
    border-radius: 8px;
    background: #37373f;
    cursor: pointer;
    width: 100%;
    transition: border-color 0.3s ease;
}