.dashboard-sidebar {
    background: #242528;
    height: 100vh;
    width: 180px;
    border-right: 1px solid #37373f;
}

.dashboard-sidebar .menu-title {
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
    padding: 10px;
}

.dashboard-sidebar .menu-item {
    padding: 10px 0;
}

.dashboard-sidebar ul {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0;
}

.dashboard-sidebar ul li {
    cursor: pointer;
    padding: 10px 20px;
    margin: 3px 10px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.dashboard-sidebar ul li.active,
.dashboard-sidebar ul li:hover {
    background: #37373f;
}

.dashboard-sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #a0a4ae;
    transition: all 0.5s ease-in-out;
}

.dashboard-sidebar ul li.active a,
.dashboard-sidebar ul li:hover a {
    color: #FFFFFF;
}

.dashboard-sidebar .menu-bottom ul li a {
    color: #FFFFFF;
}