#dashboard-page {
    margin: 0;
    background: #242528;
    color: #FFFFFF;
}

.dashboard {
    display: flex;
}

.dashboard .dashboard-body {
    margin-left: 180px;
    display: flex;
    gap: 20px;
    width: calc(100% - 180px - 20px - 20px);
    padding: 20px;
}