body#website-page {
    background: #101630;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/******************************************** 
*               Components
********************************************/


#website .btn-normal {
    width: 60px;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    background: linear-gradient(135deg, #50a6db, #4820bc);
    cursor: pointer;
    font-weight: 700;
}