body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

body#dashboard-page {
    margin: 0;
    background: #242528;
    color: #FFFFFF;
}

body#login-page {
    background: linear-gradient(to right, #376ae3, #03287c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}