body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

body#dashboard-page {
    margin: 0;
    background: #242528;
    color: #FFFFFF;
}

body#login-page {
    background: #242528;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-row {
    display: 'flex';
    flex-direction: 'row';
    align-items: 'end';
    justify-content: 'space-between';
}